<div class="card">
    <div class="card-body">
        <h4>Nova Postagem:</h4>
        <form action="/admin/postagensadd" method="POST">
            <label for="titulo">Título:</label>
            <input autocomplete="off" type="text" name="titulo" class="form-control" required>
            <label for="slug">Slug:</label>
            <input autocomplete="off" type="text" name="slug" class="form-control" autocomplete="false" required>
            <label for="descricao">Descrição:</label>
            <input autocomplete="off" type="text" name="descricao" class="form-control" required>
            <label for="conteudo">Conteudo:</label>
            <textarea autocomplete="off" name="conteudo" class="form-control"></textarea>
            <input type="checkbox" class=" mt-2" name="checkbox" id="checkbox" onclick="agendar()"><label for="checkbox">Agendar Postagem</label>
            <input type="date" name="data"  id="dateinput">
            <input type="datetime" name="hora" id="horas">
            <button type="submit" class="btn btn-primary mt-4 d-block">Criar postagem</button>
        </form>
    </div>
</div>

<script>
    const checkbox = document.getElementById('checkbox')
    const dateinput = document.getElementById('dateinput')
    const horas = document.getElementById('horas')
    horas.style.display = 'none'
            dateinput.style.display = 'none'

    function agendar(){
        if(checkbox.checked){
             horas.style.display = 'block'
            dateinput.style.display = 'block'
        }else{
             dateinput.style.display = 'none'
            horas.style.display = 'none'


        }
    }
</script>