<h1 class="text-center">Bem Vindo {{user.nome}},<br> este é o painel administrativo</h1>
<div class="card">
    <div class="card-body">
        <a href="/admin/postagens" class="mr-50%"><button tybe="button" class="btn btn-success ">Postages</button></a>
    </div>
</div>